<span>Counter = {{counter}}</span>
<br/>
<span>Counter Double = {{counterDouble}}</span>
<br/>
City:
<select (change)="changeCity($event)">
  <option *ngFor="let data of cities">{{data.city}}</option>
</select>
<br/>
District:
<select>
  <option *ngFor="let data of districts">{{data}}</option>
</select>
<h3>Home View</h3>
<input value = 10>
<br/>
<input value = "{{name}}">
<br/>
<input [value]= "name" title="My name is {{ name }}">
<br/>
<input [value]="name" [title]="'My name' + name">
<h1>Welcome {{ name }}</h1>
<input type="text" [(ngModel)]="name">
<h2 *ngIf="age > 18">You are old!</h2>
<h2 *ngIf="age <= 18">You are young!</h2>
<button (click)="resetName()">Reset Name</button>
<br/>
<br/>
<input type="text" [(ngModel)]="age"/>
<h1>Your old is {{ age }}</h1>
<div *ngIf="age <= 18 then tre else gia"></div>
<ng-template #tre><h2>Hi! You are young!</h2></ng-template>
<ng-template #gia><h2>Hi! You are old!</h2></ng-template>
<div>
  <h3>Fruits</h3>
  <div *ngFor="let item of arrFruit; let i = index">
    <li>{{ i + 1 }} {{ item }}</li>
  </div>
</div>
<table id="table1">
  <tr>
    <th>Stt</th>
    <th>Name</th>
    <th>Price</th>
    <th>Sale</th>
  </tr>
  <tr *ngFor="let item of arrFruit2; let i = index">
    <td>{{ i + 1 }}</td>
    <td>{{ item.name | uppercase}}</td>
    <td>
      <span [ngClass]="{'color-item': item.price < 0}"> {{ item.price | currency: 'USD' }} </span>
    </td>
    <td>
<!--      <span *ngIf="item.sale">Sale off!</span>-->
      <span>{{item.sale | onsale | uppercase }}</span>
    </td>
  </tr>
</table>


